extends layout

block content
  h1= title
  
  - var image_names=["creta.jpg","ktm.jpg","muscle.jpg","royal.jpg","thar.jpg"]
  - for(let i=0;i<3;i++){
     - let randomNumber=Math.floor(Math.random()*5)
     img(src=`/images/${image_names[randomNumber]}` alt=`${randomNumber}` height="300px" width="300px") 
  - }