extends layout
block content
    h1= title
        - let vehicleid = toShow._id
        - let name = toShow.name
        - let mileage = toShow.mileage
        - let price = toShow.price

    div.row(class='mb-2')
    div.mr-1 ID is
    div #{vehicleid}
    
  - let actionid = "/resource/vehicles/" + vehicleid
  form(id='VehiclesForm', action= actionid, method="PUT")
    div.form-group
      label.VehiclesAttr(for='name') Vehicle name
      input#name(type='text', name='name', value= name )
    div.form-group
      label.VehiclesAttr(for='mileage') Vehicle mileage
      input#mileage(type='number', name='mileage', value= mileage )
    div.form-group
      label.VehiclesAttr(for='price') Vechile price
      input#price(type='number', name='price', value= price )
    input(type="submit")

    script.
        document.forms['VehiclesForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show the user that the form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeeded");
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error);
            });
        });