extends layout
block content
    h1= title
    form(id='VehiclesForm', action="/resource/vehicles", method="POST")
        div.form-group
            label.vehiclesAttr(for='name') Vehicle name
            input#name(type='text', name='name')
        div.form-group
            label.vehiclesAttr(for='mileage') Vehicle mileage
            input#mileage(type='number', name='mileage')
        div.form-group
            label.vehiclesAttr(for='price') Vehicle price
            input#price(type='number', name='price')
        input(type="submit")
    script.
        document.forms['VehiclesForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });