extends layout
block content
 h1= title
 form(id='CostumeForm', action="/resource/costumes", method="POST")
 div.form-group
 label.costumeAttr(for='costume_type') Costume type
 input#costume_type(type='text', name='costume_type')
 div.form-group
 label.costumeAttr(for='size') Costume size
 input#size(type='text', name='size')
 div.form-group
 label.costumeAttr(for='cost') Costume cost
 input#cost(type='number', name='cost')
 input(type="submit")
 script.
 document.forms['CostumeForm'].addEventListener('submit', (event) => {
 event.preventDefault();
 // TODO do something here to show user that form is being submitted
 fetch(event.target.action, {
 method: 'POST',
 body: new URLSearchParams(new FormData(event.target)) // event.target is the form
 }).then((resp) => {
 return resp.json(); // or resp.text() or whatever the server sends
 }).then((body) => {
 alert("Save succeded")
 // TODO handle body
 }).catch((error) => {
 // TODO handle error
 alert("Save failed " + error )
 });
 });