extends layout
block content
    h1= title

    if (toShow == null)
        h2 No instance to delete
    else
        - let vehicles_id = toShow._id
        - let vehicles_name = toShow.name
        - let vehicles_mileage = toShow.mileage
        - let vehicles_price = toShow.price

        div.row(class='mb-2')
            div.mr-1 ID is
            div #{vehicles_id}
            - let actionid = "/resource/vehicles/" + vehicles_id
            form(id='vehiclesForm', action= actionid, method="PUT")
                div.form-group
                    label.vehiclesAttr(for='name') vehicle name
                    input#name(type='text', name='name', value= vehicles_name )
                div.form-group
                    label.vehiclesAttr(for='mileage') vehicle mileage
                    input#mileage(type='number', name='mileage', value= vehicles_mileage )
                div.form-group
                    label.vehiclesAttr(for='price') Vehicle price
                    input#price(type='number', name='price', value= vehicles_price )
                input(type="submit")

    script.
        document.forms['vehiclesForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
        });
        });